.App {

  background-size: cover;
  height: 100vh;
  

  align-items: center;
  width: 1380px;
  height:700px;
  
  /* background-color: #f4f4f4; */
  margin: auto;
  padding: 20px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

.login-container {
  margin-left: 458px;
  margin-bottom: 100px;
  margin-top: 90px;
  background-color:white;
  padding: 60px;
  height: 380px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
  
}
.login-container h3 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 40px;
  
}
.heading{
  text-align: center;
  margin-bottom: 40px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.login-container input{
  width: 100%;
  padding: 10px;
  height: 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #ccc;
  
}
.form{
    font-family: 'Times New Roman', Times, serif;
}
.login-container button {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 1px;
  border: none;
  border-radius: 4px;
  background-color:rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
}

.login-container button:hover {
  background-color: rgb(112, 112, 112);
  opacity: 1.7;
  box-shadow: 2px 3px white;
}

.App h2 {
  text-align: center;
  margin-bottom: 20px;
}
.link{
  float: right;
  text-decoration: none;
  color :black;
  text-align: center;
  font-size:large;
}
.link2{
  text-decoration: none;
  font-size: 16px;
  color :#007bff;
  font-family: 'Times New Roman', Times, serif;
  
  
}
.link3{
  text-decoration: none;
  color :white;
  
  
}
.para{
  text-align: center;
  font-size:large;
}
.parag{
    text-align: center;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
.but{
  text-decoration: none;
  color:white;
}